@font-face { 
font-family: "Avenir Light";
src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot");
src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot?#iefix")
format("embedded-opentype"),url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff2")
format("woff2"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff")
format("woff"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.ttf")
format("truetype"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.svg#Avenir Light")
format("svg");
}

.App{
  top:100px;
  font-family: "Avenir Light";
  background: rgb(20, 20, 20);
  padding-bottom:60px;
position: absolute;
padding-right:4%;
width: 96%;
min-height:550px;
}

.nav{
position: absolute;
background:rgb(180, 60, 60);
border-bottom:2px solid white;
width:100%;
height:100px;
margin-top:-100px;
}

.navItem:hover{
color:rgb(0, 0, 0);
}

.navItem{
color:white;
font-weight: bolder;
position: relative;
margin-top:20px;
left:60px;
font-size:30px;
transition: 0.2s;
margin-right:40px;
text-decoration: none;
text-shadow: 1.5px 1.5px 0px rgb(105, 32, 32);
}

.carouselist{
background: rgb(30,30,30);
transition: 0.5s;
overflow:hidden;
white-space: nowrap;
text-align: center;
}

.carouselist iframe, .carouselist img{
margin-left:25px;
margin-right:100px;
}

.carouselist:hover iframe, .carouselist:hover img{
transform: scale(1.15);
margin-right:100px;
}

.carouselist:hover p{
margin-top:15px;
margin-bottom: 35px;
overflow: hidden;
width:325px;
}

.carousel{
min-height:493px;
}

.carouselist p{
background: transparent;
overflow: hidden;
width:290px;
margin-left:32px;
font-size: 35px;
height:45px;
margin-bottom:12px;
transition: 0.5s;
text-align: center;
}

img, iframe{
display: block;
margin-top: -10px;
border-radius: 5px;
transition: 0.5s;
border: 2px solid white;
}

.hov:hover a{
color:rgb(95, 206, 171)
}

.hov:hover .video, .hov:hover img{
 border: 2px solid rgb(95, 206, 171); 
}
.grid-item:hover p, .hov:hover p{
animation-iteration-count: infinite;
animation-name: movement;
animation-duration: 15s;
animation-timing-function: linear;
}

@keyframes movement {
100%{
padding-right:500px;
margin-left:-500px;
}
}

h4{
background: rgb(20, 20, 20);
border: 2px solid rgb(149, 243, 215);
text-align:center;
color: rgb(149, 243, 215);
margin-bottom: 0px;
padding-top: 20px;
padding-bottom: 20px;
margin-top:0px;
font-size:64px;
width: 100%;
overflow: hidden;
}

.errorImg{
position: absolute;
left:70px;
transform: scale(0.6);
border: none;
top:-80px;
}


ul, li{
list-style-type: none;
}

::-webkit-scrollbar-corner {
background:transparent
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
background: rgb(256,256,256,0.1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.add{
text-decoration: none;
color:rgb(149, 243, 215);
cursor: pointer;
}


.filterFavorites{
text-decoration: none;
color:rgb(149, 243, 215);
cursor: pointer;
left:89%;
top:108px;
font-size: 60px;
position: absolute;
}


.filterList{
  margin-top:140px;
  position: absolute;
  margin-left:70px;
  width: 565px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: 1.5px solid rgb(218, 218, 218);
  outline: none;
  box-shadow: none;
  color: black; 
}

.grid-container{
  position: relative;
  margin-left:30px;
  width:98.5%;
  top:200px;
  margin-bottom:250px;
  overflow: auto;
}




.grid-item:hover img, .grid-item:hover .video, .grid-item:hover img{
 border: 2px solid rgb(95, 206, 171)
}

.grid-item:hover a{
color:rgb(95, 206, 171)
}

.video{
margin-bottom: -21px;
}



.fa-remove:active, .like:active{
color:rgb(156, 37, 37);
}

.grid-item {
width:250px;
display:inline-block;
overflow: hidden;
padding-right: 80px;
min-height:300px;
padding-bottom: 20px;
margin-bottom:50px;
margin-top: -10px;
}

.like{
color:rgb(200, 60, 60);
border: 2px solid transparent;
position: relative;
top:-12px;
padding-top:5px;
background:rgb(20, 20, 20);
font-size:30px;
cursor: pointer;
}

.grid-item p {
white-space: nowrap;
overflow:hidden;
display: inline-block;
margin-bottom: 4px;
background: rgb(20, 20, 20);
padding-left: 2px;
font-size: 26px;
}

h5 {
  position: absolute;
  color:white;
 width:97%;
 text-align: right;
 z-index: 1000;
}

.homeLists{
border: 20px solid rgb(30,30,30);
margin-left: 2%;
border-radius: 5px;
width:97%;
margin-top:100px;
position: relative;
background: rgb(30,30,30);
}


.dataLyrics{
position: relative;
font-size: 21px;
width:100%;
overflow-y:scroll;
overflow-x:hidden;
margin-top:-15px;
margin-left:75px;
max-height:680px;
}

.songDataPage{
color: white;
width:100%;
margin-top:-80px;
font-size:20px;
display: inline-flex;
}



.artistData{
position: relative;
padding-bottom:30px;
overflow-y: hidden;
overflow-x: scroll;
height:255px;
width:100%;
margin-top:-110px;
margin-bottom: -35px;
white-space: nowrap;
}

.grid-item3 {
width:210px;;
background:rgb(20, 20, 20);
position: relative;
border-right: 30px solid transparent;
color:white;
display: inline-block;
height:260px;
padding-top:20px;
margin-top:-10px;
font-size: 20px;
}

.grid-item3 p{
overflow: hidden;
margin-top:-0px;
font-size: 26px;
width: 200px;
}

.dataSongs{
position: relative;
border: 1px solid white;
border-radius: 10px;
background:rgb(10, 10, 10);
padding-left:5%;
overflow-y: auto;
overflow-x: hidden;
height:650px;
width:95.5%;
margin-top:-115px;
margin-bottom: -35px;
}

.songsTitle{
text-shadow:2px 0px 0px rgb(0, 0, 0);
position: relative;;
text-align: right;
color:white;
margin-top:-52px;
margin-bottom: 103px;
font-weight:100;
z-index:1000;
font-size: 40px;
width:96%;
}

.dataSongs p{
max-height:30px;
width:90%;
margin-top:5px;
margin-left:5%;
height:30px;
font-size: 20px;
text-align: left;
margin-bottom:10px;
white-space: nowrap;
overflow: hidden;
}

.lists p{
white-space: nowrap;
overflow:hidden;
max-height:30px;
margin-right:10px;
margin-bottom:14px;
position: relative;
width:204px;
font-size:20px;
margin-top: 0px;
}

.navTo{
text-decoration: none;
color:white;
}

.listTitle{
margin-left:70px;
margin-top:20px;
position: absolute;
font-size: 80px;
color:rgb(149, 243, 215)
}


.dataTitle{
color: rgb(245, 245, 245);
font-size:80px;
margin-top:30px;
text-shadow:2px 2px 0px rgb(48, 145, 114); 
}

.songForm{
display: flex;
justify-content:space-around;
width:95%;
position: relative;
left: -30px;
height:500px;
}

form{
margin-top:60px;
margin-left:80px;
}

form textarea {
resize: none;
width:546px;
margin-bottom:-2px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: 1.5px solid rgb(218, 218, 218);
  outline: none;
  box-shadow: none;
  color: black; 
}



form input{
  border-radius: 5px;
  width:550px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: 1.5px solid rgb(218, 218, 218);
  outline: none;
  box-shadow: none;
  color: black; 
}

form label{
color: rgb(149, 243, 215);
font-size:18px;
}

.post{
margin-left:10px;
font-family: "Avenir Light";
color:rgb(149, 243, 215, 1);
cursor: pointer;
font-size: 44px;
text-align: right;
font-weight: bold;
border: none;
background: transparent;
margin-top:-15px;
}


.tooltip {
  float:right;
  color: rgb(196, 155, 79);
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-family: "Avenir Light";
  visibility: hidden;
  width:350px;
  margin-top:-5px;
  margin-left:-360px;
  background-color: #d63f46b6;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.deleteButton{
font-family: "Avenir Light";
width:255px;
background:#db3d44;
color:white;
border: 1.5px solid rgb(218, 218, 218);
border-radius: 5px;
font-size:20px;
margin-top:10px;
cursor: pointer;
}

.fa-home{
margin-left:-26px;
}

.back{
text-decoration: none;
color:rgb(149, 243, 215);
cursor: pointer;
font-size: 36px;
position: absolute;
}

.arrow{
color: rgb(149, 243, 215);
background: none;
border: none;
text-decoration: none;
font-size: 36px;
padding-bottom:30px;
padding-left:25px;
margin-right:20px;
} 



#songError{
position: absolute;
top:543px;
left:210px;
}

.albumForm{
width:92%;
margin-top:85px;
}
.albumForm input{
  width:100%;
}

.playlistForm{
width:98%;
position: relative;
top:-20px;
}


.playlistForm input{
  width:100%;
}


.artistForm{
margin-top:180px;
width:98%;
}
.artistForm input{
  width:100%;
}

.uploadsList{
position: relative;
left:70px;
width:100%;
top:160px;
display: inline-block;
padding-bottom:200px;

}

.upload{
width:92.5%;
min-height: 310px;
display:flex;
background:rgb(30, 30, 30);
justify-content:flex-start;
margin-bottom:80px;
padding-top:5px;
border-radius: 5px;
padding-left:15px;
}

.upload p{
white-space: nowrap;
overflow: hidden;
display: inline-block;
background: rgb(30, 30, 30);
padding-bottom: 5px;
margin-bottom:-15px;
font-size: 26px;
padding-left:3px;
height:37px;
margin-top: -30px;
}

.horizontalSlider___281Ls{
outline:0;
}

.upload li{
overflow:hidden;
padding-top:30px;
background: rgb(30, 30, 30);
margin-right: 40px;
min-width: 260px;
}

.searchButton{
text-decoration: none;
color:rgb(149, 243, 215);
background:transparent;
border: 2px solid rgb(149, 243, 215);
border-radius: 10px; 
cursor: pointer;
font-size: 26px;
margin-left:655px;
margin-top:140px;
position: absolute;
}
.searchButton:hover{
color: rgb(95, 206, 171);
border:2px solid rgb(95, 206, 171);
}

button:focus {outline:0;}

.hov:hover div, .arrow:hover, .add:hover, .post:hover, .back:hover, .filterFavorites:hover{
color:rgb(95, 206, 171);
}

.upTitle{
color:rgb(255, 255, 255);
background: transparent;
z-index:1200;
position: absolute;
font-size: 40px;
height:42px;
height:50px;
margin-left:1%;
margin-top:-43px;
font-weight: 100;
}


.item{
border-radius: 5px;
display: block;
background:rgb(180, 60, 60);
font-size: 30px;
height:30px;
opacity: 0.75;
padding:10px;
padding-bottom:20px;
padding-top:5px;
margin-top:2px;
margin-bottom:4px;
transition: 0.3s;
}

.item:hover{
transform: scale(1.03);
border: 2px solid white;
padding-top: 10px;
padding-bottom: 25px;
}

.dataItem{
padding-right:3%;
position: relative;
padding-left:2%;
overflow-y: scroll;
overflow-x: hidden;
height:650px;
width:96.5%;
margin-top:-115px;
}

.fa-remove{
position: relative;
background:none;
border:none;
color: rgb(200, 60, 60);
font-size:30px;
cursor: pointer;
margin-top:5px;
margin-left:-15px;
padding-bottom:10px;
background: rgb(30, 30, 30);
border-left:10px solid rgb(30, 30, 30);
}
