@font-face { 
font-family: "Avenir Light";
src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot");
src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot?#iefix")
format("embedded-opentype"),url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff2")
format("woff2"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff")
format("woff"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.ttf")
format("truetype"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.svg#Avenir Light")
format("svg");
}

.App{
  font-family: "Avenir Light";
  background: rgb(20, 20, 20);
  border-radius: 25px;
border: solid 2px white;
  top: 50px;
  padding-right:60px;
  padding-left:60px;
  left: 50px;
position: absolute;
width: 1210px;
height:600px;
}


.lists {
margin-left:30px;
margin-top:208px;
text-align: center;
color:white;
justify-content: center;
display: flex;
}

h4{
border: 2px solid rgb(149, 243, 215);
padding-top:10px;
color: rgb(149, 243, 215);
margin-left:30px;
padding-bottom:10px;
width:250px;
overflow: hidden;
}


.songs, .albums, .artists, .playlists {
height:300px;
width:250px;
overflow: auto;
}

ul{
list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
background: rgb(256,256,256,0.1); 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.Add{
background:rgb(149, 243, 215);
border: 2px solid rgb(86, 177, 150);
height:45px;
margin-left:71%;
margin-top:120px;
font-size: 25px;
border-radius: 5px;
width:50px;
position: absolute;
}
.Add:focus {outline:0;}

.filterList{
  margin-top:120px;
  position: absolute;
  margin-left:20%;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: 1.5px solid rgb(218, 218, 218);
  outline: none;
  box-shadow: none;
  color: black; 
}

.grid-container{
  margin-top:180px;
  position: relative;
  margin-left:64px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  height: 395px;
  overflow: auto;

}

img, .video{
border: 2px solid white;
}

.grid-item {
color:white;
padding-left: 33px;
padding-right: 33px;
margin-bottom:50px;
  font-size: 16px;
  text-align: center;
}

h5 {
  position: absolute;
  font-size:16px;
  color:white;
  margin-left:1080px;
}

h3{
font-family: "Avenir Light";
position: absolute;
margin-top:-150px;
color:white;
font-size:60px;
margin-left:100px;
}

.fa-heart{
color:rgb(149, 243, 215)
}

.listTitle{
margin-left:100px;
position: absolute;
font-size: 60px;
color:rgb(149, 243, 215)
}